.flex-container{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    
    }
.flex-container > div{
    background-color:white;    
    margin: 8px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
}
#Sign {
    background-color: rgb(38, 123, 235);
    width: 75px;
    height: 30px;
    text-align: center;
    color: white; 
}

.Sign { color: white;}

a {
    color: black;
    text-decoration: none;
 }

.center_image {
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 150px;
}
input[type=text]{
    
    width: 450px ;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 20px;
    padding: 8px 10px 10px 50px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 15px 15px; 
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 0.5;
   }

.center_search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=submit]{
    background-color: rgb(238, 236, 236);
    border: none;
    color: rgb(105, 103, 103);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(238, 236, 236) ;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
   
}
li a {
    display: inline-block;
    color: rgb(73, 73, 73);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
